/* .container-fluid {
   padding: 0;
   margin: 0;
} */

body {
   font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto Slab", sans-serif;
}

.banniere {
   background-image: url('/img/banniere.jpg')
}

.reservation {
   background-image: url('/img/formulaire.jpg');
   font-weight: 700;
}


.fa-facebook-square, .fa-twitter-square, .fa-instagram, .fa-pinterest-square {
   color: black;
   size: 5px;
}
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-pinterest-square:hover {
   color: rgb(255, 93, 0);
}


.nav-link {
   letter-spacing: 3px;
}

.alert-custom{
   background-color: #ffc10765;
}

.menu {
   background-color: #ffc107;
}

