/* Colors
 


*/

.card {
   background-color: rgba(43, 43, 43, 0.555);
   border-radius: 0 20px 20px 0;
}

/* General */

body {
   font-family: "Open Sans", sans-serif;
   background-color: #0c0c0cfa;
   margin-top: 90px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto Slab", sans-serif;
}


/* Menu */

.bg-custom {
   background-color: #ffc107;
}

.bg-warning,
.dropdown-menu {
   background-color: #ffc107;
}

.nav-link {
   color: black;
   font-size: 20px;
}
.nav-link:hover {
   color: rgba(255, 255, 255, 0.438);
   font-size: 20px;
}


/* Bannière / Button */

.banniere {
   background-image: url('../img/banniere.jpg');
}

.btn-outline-warning:hover {
   color: rgb(255, 255, 255);
   background-color: #dfa700dc;
}

.navbar-brand {
   padding: 0;
   margin: 0;
}

.dropdown-item:hover {
   background-color: initial;
   text-decoration: underline;
}


/* Forms */

.form-control {
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid #ffffff73;
   color: rgb(0, 0, 0);
}

.reservation {
   background-image:
      linear-gradient(rgba(255, 193, 7, 0.89), rgba(255, 255, 255, 0.185)),
      url('../img/stars.jpg');
   font-weight: 700;
   box-shadow: 1px 1px 15px #555;
   border-radius: 20px;
}


/* Shadow */

.alert-custom {
   background-color: rgb(255, 193, 7);
   box-shadow: 1px 1px 15px #555;
}


/* Google Maps */

.maps {
   box-shadow: 1px 1px 12px #555;
}


/* Footer / Social Network */

.footer {
   line-height: 10px;
   /* background-color: #ffc107; */
   background-image: url('../img/arplan.jpg')
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram,
.fa-pinterest-square {
   color: #ffc107;
   size: 5px;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-pinterest-square:hover {
   color: rgb(255, 93, 0);
   font-size: 25px;
}


/* Slider */

.timeline a {
   text-decoration: none;
   color: #ffc107;
}

ul.timeline {
   list-style-type: none;
   position: relative;
}

ul.timeline:before {
   content: ' ';
   background: #ffc107;
   display: inline-block;
   position: absolute;
   left: 29px;
   width: 2px;
   height: 100%;
   z-index: 400;
}

ul.timeline>li {
   margin: 20px 0;
   padding-left: 20px;
}

ul.timeline>li:before {
   content: ' ';
   background: white;
   display: inline-block;
   position: absolute;
   border-radius: 50%;
   border: 3px solid #ffc107;
   left: 20px;
   width: 20px;
   height: 20px;
   z-index: 400;
}